extends layout/base

block page-title
  title Title

block page-content
  main.main-content(role="main")
    section.jumbotron
      div.container
        h1.heading Example Page
        p Something short and leading about the collection below.

    section.my-photo-album
      div.container
        .album
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.
          .card
            img(src="https://picsum.photos/640/480", alt="Card image cap")
            p.card-text This is a card with supporting text below an image.

    img(src="../img/test-image.jpg" alt="")
